<h1 id="title" class="title">Recuperar contraseña</h1>
<p class="sub-title">Ingresa tu correo electrónico para recuperar tu contraseña</p>

<form  aria-labelledby="title">

  <div class="form-control-group">
    <label class="label" for="input-email">Correo electrónico:</label>
    <input nbInput
           id="input-email"
           name="email"
           pattern=".+@.+\..+"
           placeholder="Ingrese su correo electrónico"
           autofocus
           fullWidth
           fieldSize="large">
  </div>

  <button nbButton
          fullWidth
          status="primary"
          size="large">
    Recuperar contraseña
  </button>
</form>

<section class="sign-in-or-up" aria-label="Sign in or sign up">
  <p><a class="text-link" routerLink="../">Regresar al inicio de sesión</a></p>
</section>