<nb-card>
    <nb-card-header style="display: flex; justify-content: center;">

        <div class="col-10 fontSize">Productos</div>
        <div class="col-2">
            <!-- (click)="open(content, true, null)" -->
            <button class="posicion" nbButton hero status="info" size="small">
                agregar
            </button>
        </div>

    </nb-card-header>
</nb-card>

<nb-card style="margin-top: -15px;">
    <nb-card-body>
        <div class="row">
            <div class="table-responsive" *ngIf="producto_en_almacen">
                <form style="margin-top: 3px;">
                    <div class="form-group form-inline">
                        <input nbInput class="form-control ml-2" placeholder="Buscar Producto" type="text" [formControl]="filter" />
                    </div>
                </form>

                <div class="scrollXY">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Tipo de producto</th>
                                <th scope="col">Linea</th>
                                <th scope="col">Categoría</th>
                                <th scope="col">#Parte</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Proveedor</th>
                                <th scope="col">Factura</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let producto of productos_a_mostrar | async; index as i">
                                <th scope="row">{{i + 1}}</th>
                                <td>{{producto.nombre}}</td>
                                <td>{{producto.tipo_de_producto}}</td>
                                <td>{{producto.linea}}</td>
                                <td>{{producto.categoria}}</td>
                                <td>{{producto.parte}}</td>
                                <td>{{producto.precio}}</td>
                                <td>{{producto.cantidad}}</td>
                                <td>{{producto.proveedor}}</td>
                                <td>{{producto.factura}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <h3 *ngIf="!producto_en_almacen">
                No hay productos registrados
            </h3>
        </div>
    </nb-card-body>
</nb-card>